*{
    color:black;
    text-align: center;
    font-size: 40px;
    margin: -5px;
}
header,nav,section,article,footer{
    padding: 80px;
}
header{
    background-color: palegoldenrod;
}
nav{
    background-color: plum;
}
section{
    background-color: powderblue;
}
article{
    background-color: salmon;
    margin: 20px;
    display: inline;
}
footer{
    background-color: tomato;
}